{#
/**
 * @file
 * Default theme implementation for the ConcordPay Button shortcode.
 *
 * Available variables:
 * - url: The url.
 * - attributes: The attributes array.
 * - text: The button label.
 */
#}
<a{{ attributes }}></a>